<template>
    <div id="content">
        <div class="slider">
            <img class="flask1" src="/img/flask1.png">
            <div class="cost">от 4 900 Р. -</div>
            <div class="recomendations">
                <h1>Наши рекомендации</h1>
                <a href="">Интересные предложения</a>
                <a href="">Женская парфюмерия</a>
                <a href="">Товары со скидками</a>
            </div>
            <div class="banner">
                Идеальный аромат от Giorgio Armani
            </div>
            <div class="more">
                <a href="">Подробнее</a>
            </div>
        </div>
        <div id="middle">
            <div class="nameplates">
                <div><hr>Оригинальная продукция</div>
                <div><hr>Бесплатная доставка по Москве и России</div>
                <div><hr>Система скидок</div>
                <div><hr>Срочная доставка</div>
            </div>
            <h3>Хиты продаж</h3>
            <div class="stock1">
                <div class="arrowL" @click="prev1()"></div>
                    <slick class="slick"
                    ref="slick1"
                    :options="slickOptions">
                        <div>
                            <div class="sale">sale</div>
                            <a href=""><img class="links" src="/img/flaskMain1.jpg"></a>
                            <h1>FLEUR NARCOTIQUE</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <div class="spans"><span class="saleSpan"><s>  8 990 Р.  </s></span><span>от 4 990 Р.-</span></div>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain2.jpg"></a>
                            <h1>100% LOVE</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 2 390 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain3.jpg"></a>
                            <h1>10 CORSO COMO</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 7 890 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain4.jpg"></a>
                            <h1>1881 COLLECTION</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 3 270 Р.-</h2>
                        </div>
                        <div>
                            <div class="sale">sale</div>
                            <a href=""><img class="links" src="/img/flaskMain1.jpg"></a>
                            <h1>FLEUR NARCOTIQUE</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <div class="spans"><span class="saleSpan"><s>  8 990 Р.  </s></span><span>от 4 990 Р.-</span></div>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain2.jpg"></a>
                            <h1>100% LOVE</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 2 390 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain3.jpg"></a>
                            <h1>10 CORSO COMO</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 7 890 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain4.jpg"></a>
                            <h1>1881 COLLECTION</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 3 270 Р.-</h2>
                        </div>
                    </slick>
                <div class="arrowR" @click="next1()"></div>
            </div>
            <h3>Новинки</h3>
            <div class="stock2">
                <div class="arrowL" @click="prev2()"></div>
                    <slick class="slick"
                    ref="slick2"
                    :options="slickOptions">
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain5.jpg"></a>
                            <h1>AIGNER BLACK</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 6 780 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain6.jpg"></a>
                            <h1>AIGNER BLACK ICEDROPS</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 2 990 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain7.jpg"></a>
                            <h1>FLEUR NARCOTIQUE</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 4 990 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain8.jpg"></a>
                            <h1>AIRE LOCO</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 3 910 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain5.jpg"></a>
                            <h1>AIGNER BLACK</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 6 780 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain6.jpg"></a>
                            <h1>AIGNER BLACK ICEDROPS</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 2 990 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain7.jpg"></a>
                            <h1>FLEUR NARCOTIQUE</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 4 990 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain8.jpg"></a>
                            <h1>AIRE LOCO</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 3 910 Р.-</h2>
                        </div>
                    </slick>
                <div class="arrowR" @click="next2()"></div>
            </div>
            <h3>Специальные предложения</h3>
            <div class="stock3">
                <div class="arrowL" @click="prev3()"></div>
                    <slick class="slick"
                    ref="slick3"
                    :options="slickOptions">
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain9.jpg"></a>
                            <h1>8 ALWAYS PRETTY</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 4 990 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain10.jpg"></a>
                            <h1>FAN DI FENDI EXTREME</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 2 390 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links"src="/img/flaskMain11.jpg"></a>
                            <h1>TEASE LIMITED EDITION EAU DE PARFUM</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 3 910 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain12.jpg"></a>
                            <h1>001</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 4 990 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain9.jpg"></a>
                            <h1>8 ALWAYS PRETTY</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 4 990 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain10.jpg"></a>
                            <h1>FAN DI FENDI EXTREME</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 2 390 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links"src="/img/flaskMain11.jpg"></a>
                            <h1>TEASE LIMITED EDITION EAU DE PARFUM</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 3 910 Р.-</h2>
                        </div>
                        <div>
                            <a href=""><img class="links" src="/img/flaskMain12.jpg"></a>
                            <h1>001</h1>
                            <p>EX Nihilo</p>
                            <p>Парфюмерная вода</p>
                            <p>Женская</p>
                            <h2>от 4 990 Р.-</h2>
                        </div>
                    </slick>
                <div class="arrowR" @click="next3()"></div>
            </div>
            <h3>Топ брендов</h3>
            <h4>Все бренды</h4>
            <div class="brands">
                <div class="DG">DOLCE & GABBANA</div>
                <div class="CK">Calvin Klein</div>
                <div class="BVL">BVLGARI</div>
                <div class="CHRD">ChristianDior</div>
                <div class="YSL">YvesSaintLaurent</div>
                <div class="BURB">Burberry</div>
            </div>
            <div class="subbrands">
                <div>
                    <p>Azzaro</p>
                    <p>Burberry</p>
                    <p>Bvlgari</p>
                    <p>Calvin Klein</p>
                    <p>Carolina herrena</p>
                    <p>Cartier</p>
                </div>
                <div>
                    <p>Christian Dior</p>
                    <p>Dana</p>
                    <p>Davidoff</p>
                    <p>Dolce & Gabbana</p>
                    <p>Elizabeth Arden</p>
                    <p>Estee Lauder</p>
                </div>
                <div>
                    <p>Giorgio Armani</p>
                    <p>Givenchy</p>
                    <p>Gucci</p>
                    <p>Guerlain</p>
                    <p>Hugo Boss</p>
                    <p>Issey Miyake</p>
                </div>
                <div>
                    <p>Ivanka Trump</p>
                    <p>Jean Paul Gaultier</p>
                    <p>Juicy Couture</p>
                    <p>Lancome</p>
                    <p>Liz Claiborne</p>
                    <p>Mont Blanc</p>
                </div>
                <div>
                    <p>Paco Rabanne</p>
                    <p>Parfums De Coeur</p>
                    <p>Ralph Lauren</p>
                    <p>Thierry Mugler</p>
                    <p>Versace</p>
                    <p>Yves saint Laurent</p>
                </div>
            </div>
            <h3>Статьи и новости</h3>
            <div class="sidebars">
                <div class="sidebarL">
                    <div>
                        <h5>Парфюмерия в нашей жизни</h5>
                        <a href="">26 апреля 2017</a>
                        <p>Как ароматы могут влиять на ваше настроение, самочувствие, деловые отношения и любовные завоевания? Все секреты магической силы различных парфюмов, вы, сможете открыть для себя, прочитав эту статью!</p>
                    </div>
                    <div>
                        <h5>Топ женских ароматов - весна 2016</h5>
                        <a href="">26 апреля 2017</a>
                        <p>Как ароматы могут влиять на ваше настроение, самочувствие, деловые отношения и любовные завоевания? Все секреты магической силы различных парфюмов, вы, сможете открыть для себя, прочитав эту статью!</p>
                    </div>
                    <div>
                        <h5>Победители парфюмерных премий Art And Olfaction Awards 2014 и Canadian Fragrance Awards 2014</h5>
                        <a href="">26 апреля 2017</a>
                        <p>В Канаде прошли награждения победителей девятой ежегодной премии ароматов "Canadian Fragrance awards 2014".</p>
                    </div>
                </div>
                <div class="sidebarR">
                    <div class="news">
                        <div class="text1">
                            <h5>Geza Shoen, Mark Buxton и Bertrand Duchaufour</h5>
                            <a href="">26 апреля 2017</a>
                            <p>Три поистине великих парфюмера, объединили свои общие труды и выпустили коллекцию под названием renegades.</p>
                        </div>
                    </div>
                    <div class="news">
                        <div class="text2">
                            <h5>No ordinary man ot korloff paris</h5>
                            <a href="">26 апреля 2017</a>
                            <p>Мужской аромат, выпущенный в 2016 году воплощает силу духа и отваги.</p>
                        </div>
                    </div>
                    <div class="news">
                        <div class="text3">
                            <h5>Новый аромат представляет собой</h5>
                            <a href="">26 апреля 2017</a>
                            <p>Новинка 2016 года для мужчин от торгового дома Amouage - Bracken for Men.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govno">
                <span class="watch1"><a href="">Смотреть все статьи</a></span>
                <span class="watch2"><a href="">Смотреть все новости</a></span>
            </div>

        </div>
    </div>
</template>

<script>
    import Slick from 'vue-slick';
    export default {
        name: "content",
        components: {
            Slick
        },
        data() {
            return {
                slickOptions: {
                    slidesToShow: 4,
                    //dots: true,
                    arrows: false,
                    //autoplay: true,
                    slidesToScroll: 1,
                    //infinite: true,
                    customPaging : function(slider, i) {
                        return '<a href="#"><img src="/img/cubeFull.png" /><img src="/img/cubeEmpty.png" /></a>';
                    },
                },
            };
        },

        // All slick methods can be used too, example here
        methods: {
            next1() {
                this.$refs.slick1.next();
            },

            prev1() {
                this.$refs.slick1.prev();
            },

            next2() {
                this.$refs.slick2.next();
            },

            prev2() {
                this.$refs.slick2.prev();
            },
            next3() {
                this.$refs.slick3.next();
            },

            prev3() {
                this.$refs.slick3.prev();
            },

            reInit() {
                // Helpful if you have to deal with v-for to update dynamic lists
                this.$nextTick(() => {
                    this.$refs.slick.reSlick();
                });
            },

            // Events listeners
            handleAfterChange(event, slick, currentSlide) {
                console.log('handleAfterChange', event, slick, currentSlide);
            },
            handleBeforeChange(event, slick, currentSlide, nextSlide) {
                console.log('handleBeforeChange', event, slick, currentSlide, nextSlide);
            },
            handleBreakpoint(event, slick, breakpoint) {
                console.log('handleBreakpoint', event, slick, breakpoint);
            },
            handleDestroy(event, slick) {
                console.log('handleDestroy', event, slick);
            },
            handleEdge(event, slick, direction) {
                console.log('handleEdge', event, slick, direction);
            },
            handleInit(event, slick) {
                console.log('handleInit', event, slick);
            },
            handleReInit(event, slick) {
                console.log('handleReInit', event, slick);
            },
            handleSetPosition(event, slick) {
                console.log('handleSetPosition', event, slick);
            },
            handleSwipe(event, slick, direction) {
                console.log('handleSwipe', event, slick, direction);
            },
            handleLazyLoaded(event, slick, image, imageSource) {
                console.log('handleLazyLoaded', event, slick, image, imageSource);
            },
            handleLazeLoadError(event, slick, image, imageSource) {
                console.log('handleLazeLoadError', event, slick, image, imageSource);
            },
        },
    };
</script>

<style scoped lang="scss">
#content{
    overflow-x: hidden;

    .slider {
        width: 71.5vw;
        height: 33.5vw;
        border: 1px white solid;
        background: url('/img/woman.jpg') no-repeat;
        background-size: cover;

        margin: 4vw auto 0 23vw;
        position:relative;

        .flask1 {
            position:absolute;
            width:7vw;
            top:7.6vw;
            left:33vw;
        }
        .cost {
            position:absolute;
            font-size:0.9vw;
            top: 22vw;
            left: 43vw;
        }
        .recomendations {
            display:flex;
            flex-direction:column;
            border:1px ghostwhite solid;

            position:absolute;
            right: -1vw;
            top: -1vw;
            background-color: ghostwhite;
            width: 22vw;
            height: 19.4vw;

            h1 {
                font-size:1vw;
                font-family:"CirceExtra";
                text-transform:uppercase;
                letter-spacing:0.1vw;
                width:23.2vw;

                border-bottom:0.2vw #c1a067 solid;
                color:#302a31;
                margin-left: 2.8vw;
                margin-bottom: 2.7vw;
                padding-top: 2.8vw;
                padding-bottom: 2.5vw;
            }
            a {
                font-family:"Circe";
                font-size:1vw;
                text-decoration:none;
                color:#302a31;
                margin-left: 2.8vw;
                margin-bottom: 1.2vw;
                &:hover {color:#c16774;}
            }

        }
        .banner {
            width: 41vw;
            position: absolute;
            text-transform: uppercase;
            letter-spacing: 0.3vw;
            font-family: "CirceExtra";
            font-size: 3vw;
            left: -16vw;
            top: 9vw;
        }
        .more {
            display:flex;
            align-items:center;
            position: absolute;
            top: 65%;
            left: -15.6vw;
            width: 15.6vw;
            height:4vw;
            border-bottom: 0.2vw #c1a067 solid;

            a{
                text-decoration:none;
                font-size: 0.7vw;
                font-weight:700;
                font-family:"Circe";

                text-transform:uppercase;
                letter-spacing:0.2vw;
                color:#c1a067;
                &:hover {color:#302a31;}
            }
        }
    }
    #middle{
        .nameplates {
            display:flex;
            flex-direction:row;
            justify-content:space-around;

            font-family:"CirceExtra";
            margin-top: 3vw;
            margin-left: 7vw;
            margin-bottom:7.1vw;
            font-size: 0.7vw;
            letter-spacing: 0.1vw;
            text-transform:uppercase;

            div {
                width:11vw;
                position:relative;

                hr {
                    position:absolute;
                    background-color:#eceaed;
                    border:none;
                    width: 6vw;
                    height: 0.1vw;
                    left: -74%;
                    top: -35%;
                    opacity:0.5;
                }
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 2vw;
            font-family: "CirceExtra";
            letter-spacing: 0.3vw;
            text-align: center;
            border-bottom: 0.2vw #c1a067 solid;
            margin: -2vw auto 4vw auto;
            padding-bottom: 1vw;
            width: 29vw;
        }
        .stock1, .stock2, .stock3 {
            width: 98vw;
            height: 37vw;
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            margin-top:1vw;


            .slick {
                width:90vw;
                //height:20vw;
                display:flex;
                justify-content:space-around;
                div {border-left:0.1vw #eceaed solid; border-right:0.1vw #eceaed solid;}
            }
            .arrowL {
                width:19vw;
                height:30vw;
                background:url('/img/arrowL.png') no-repeat center;
                background-size: 2vw, 10vw;

                &:hover {
                    cursor:pointer;
                    background: url('/img/arrowR.png') no-repeat center;
                    background-size: 2vw, 10vw;
                    transform: scale(-1, 1);
                }
            }
            .arrowR {
                width:19vw;
                height:30vw;
                transform:scale(-1, 1);
                background:url('/img/arrowL.png') no-repeat center;
                background-size: 2vw, 10vw;

                &:hover {
                    cursor:pointer;
                    background: url('/img/arrowR.png') no-repeat center;
                    background-size: 2vw, 10vw;
                    transform:scale(1, 1);
                }
            }
            div {
                display:flex;
                justify-content:center;

                position:relative;
                //padding:0 20px;
                width:19vw;
                height: 30vw;
                border:none;
                text-align:center;


                .spans {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    border: none;
                    width:21vw;
                }

                .links{
                    width: 19vw;
                    height: 17vw;
                    margin:0 auto;
                }

                h1 {
                    margin: 1.4vw 0 1.8vw 0;
                    width: 21vw;
                    text-transform: uppercase;
                    font-size: 1.1vw;
                    color:#302a31;
                    margin-left:0.4vw;
                }
                h2, span {
                    width:21vw;
                    font-size:1vw;
                    text-align:center;
                    margin-top:1.4vw;
                    margin-left:0.4vw;
                }
                h2 {
                    margin-top:2.6vw;
                }

                .saleSpan {
                    color:#c16774;
                    text-decoration:line-through;
                }
                p {
                    width: 21vw;
                    font-family: "Circe";
                    font-size: 1vw;
                    color: #888789;
                    text-align: center;
                    line-height: 0.6vw;
                    margin-bottom:1.2vw;
                    margin-left:0.4vw;
                }

                .sale {
                    display:flex;
                    justify-content:center;
                    align-items:center;

                    padding: 0.2vw;
                    position:absolute;
                    //left:-0.14vw;
                    font-size: 0.75vw;
                    letter-spacing:0.1vw;
                    background:#c16774;
                    color:white;
                    text-transform:uppercase;
                    height: 1.2vw;
                    width: 3vw;

                }
            }
        }
        .stock3{
            div {
                height:31vw;
            }
        }
        h4 {
            text-transform: uppercase;
            font-size: 0.7vw;
            font-family: "Circe";
            font-weight:600;
            letter-spacing:0.1vw;
            color: #c1a067;
            text-align: center;
            margin-top: -2vw;
        }
        .brands {
            display:flex;
            flex-direction:row;
            justify-content:space-around;
            align-items:center;

            font-size: 2vw;
            margin: 4vw 3vw 0 3vw;

            .DG {font-family:"Circe"; font-weight:600;letter-spacing:-0.2vw;font-size:1.8vw;}
            .CK {font-family:"Calvin"; font-size:2.7vw;font-weight:100;}
            .BVL {font-family:"BVLGARY";font-size:2vw;letter-spacing:0.3vw;}
            .CHRD {font-family:"Christian";font-size:2.4vw;letter-spacing:-0.1vw;}
            .YSL {font-family:"Yves";font-style:italic;}
            .BURB {font-family:"Burberry";text-transform:uppercase; font-size:1.6vw; letter-spacing:0.2vw;}
        }
        .subbrands {
            display:flex;
            flex-direction:row;
            justify-content:space-around;

            font-family:"Circe";
            font-size: 1.2vw;
            margin: 4vw 14vw 9vw 8vw;
            line-height: 2vw;
        }
        .sidebars {
            display:flex;
            flex-direction:row;
            position:relative;

            .sidebarL {
                margin-top: 0.2vw;
                margin-left: 5vw;

                h5 {
                    font-size:1.1vw;
                    text-transform:uppercase;
                    color:#302a31;
                    margin-top: 1.8vw;
                    margin-bottom:1vw;
                }
                div {
                    width: 38vw;
                    height: 11vw;
                    border-bottom: 0.1vw #eceaed solid;
                    paddind-bottom:1.5vw;
                    p {
                        font-size:1vw;
                        color:#888789;
                        margin-top:1vw;
                    }
                    a {
                        font-size:1vw;
                        color:#c1a067;
                    }

                }
            }
            .sidebarR {
                display:flex;
                flex-direction:column;
                //margin-top:0px;
                margin-left:12vw;

                .news {
                    display:flex;
                    width: 40vw;
                    height:11.37vw;

                    h5 {
                        width:30vw;
                        font-size:1.1vw;
                        text-transform:uppercase;
                        color:#302a31;
                        margin-top: 1.8vw;
                        margin-bottom:1vw;

                    }

                    p {
                        font-size:1vw;
                        color:#888789;
                        width: 28vw;
                        margin-top:1vw;
                    }
                    a {
                        font-size:1vw;
                        color:#c1a067;
                    }

                    .text1 {
                        display:flex;
                        flex-direction:column;

                        width: 38vw;
                        height: 11vw;
                        background: url('/img/men.jpg') no-repeat left top;
                        background-size: 15.1vw 13vw;

                        h5, a, p {
                            margin-left:11vw;
                        }
                        p { text-align:justify;}

                    }
                    .text2 {
                        width: 38vw;
                        height: 9.5vw;
                        background: url('/img/flaskSide1.jpg') no-repeat;
                        background-position:130% 10%;
                        background-size: 20.1vw 21vw;
                        margin-top:1.5vw;
                        h5, p {text-align:justify;}

                    }
                    .text3 {
                        width: 38vw;
                        height: 9.5vw;
                        background: url('/img/flaskSide2.jpg') no-repeat;
                        background-size: 15.1vw 19vw;
                        background-position: 0% 28%;
                        margin-top:3vw;
                        h5, a, p {
                            margin-left:11vw;
                            text-align:justify;
                        }
                    }
                }
            }
        }
        .govno {
            display:flex;
            justify-content: space-around;
            align-items: center;
            margin-top:2vw;
            margin-left:2vw;
            font-size:0.7vw;
            font-weight:bold;
            text-transform: uppercase;

            a{
                color:#c1a067;
                text-decoration:none;
                font-family:"Circe";
                letter-spacing:0.1vw;
                &:hover {color:#302a31;}
            }
        }
    }
}
</style>