<template>
    <div id="footer">
        <div class="preEnd">
            <div>
                <div class="h">О компании</div>
                <div class="a"><a href="">О магазине</a></div>
                <div class="a"><a href="">Оплата</a></div>
                <div class="a"><a href="">Доставка</a></div>
                <div class="a"><a href="">Новости</a></div>
                <div class="a"><a href="">Статьи</a></div>
                <div class="a"><a href="">Контакты</a></div>
                <div class="a"><a href="">Информация о заказах</a></div>
            </div>
            <div>
                <div class="h">Каталог</div>
                <div class="a"><a href="">Женская парфюмерия</a></div>
                <div class="a"><a href="">Мужская парфюмерия</a></div>
                <div class="a"><a href="">Новинки</a></div>
                <div class="a"><a href="">Средства ухода</a></div>
                <div class="a"><a href="">Селективная косметика</a></div>
                <div class="a"><a href="">Духи для дома</a></div>
                <div class="a"><a href="">Винтаж</a></div>
            </div>
            <div>
                <div class="h">+7 /495/ 543-05-9</div>
                <div class="a info">Мы доступные так же<a href=""><img class="phoneFoot1" src="/img/phoneFoot1.png"></a><a href=""><img class="phoneFoot2" src="/img/phoneFoot2.png"></a></div>
                <div class="a info">В рабочее время с 9.00 до 21.00</div>
                <div class="a callback"><a href=""><img class="infoImg" src="/img/phoneHead.png">Обратный звонок</a></div>
                <div class="a connect"><a href=""><img class="infoImg" src="/img/mail.png">Info@lenoma.ru</a></div>
                <div class="a connect"><a href=""><img class="infoImg" src="/img/skype.png">Skype: Lenoma.ru</a></div>
            </div>
            <div class="news">
                <div class="h">подписатсья на новости</div>
                <div class="email"><input type="email" placeholder="Введите email"></div>
                <div class="subscribe"><a href="">Подписаться</a></div>
                <div class="join">
                    <a href=""><div class="instD"><img class="inst" src="/img/inst.png"></div>Присоединяйтесь к нам</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="end">
            <div>© 2017. Lenoma.ru</div>
            <div><img class="idea" src="/img/idea.png">Разработка и поддержка - "ЭВРИКА"</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "footer"
    }
</script>

<style scoped lang="scss">
    #footer {
        background:#302a31;
        margin-top:7vw;
        border:0.1vw #302a31 solid;
        overflow-x: hidden;

        .preEnd {
            display: flex;
            flex-directio: row;
            justify-content: space-around;
            margin-top: 3.8vw;
            color: #d6d5d6;

            .h {
                text-transform: uppercase;
                font-family:"CirceExtra";
                font-size: 1.1vw;
                letter-spacing:0.1vw;
                margin-bottom: 2vw;
            }

            .a {
                font-size: 1vw;
                margin-bottom: 0.3vw;

                a {
                    color: #d6d5d6;
                    text-decoration: none;

                    &:hover {
                        color: #c1a067;
                    }
                }
            }
            .info {margin-bottom:1.3vw;}
            .callback {
                margin-top:1.9vw; text-transform:uppercase; font-weight:600; font-size:0.7vw; letter-spacing:0.1vw;
                a {color:white;}
            }
            .connect {
                margin-top:0.9vw; text-transform:uppercase; font-weight:600; font-size:0.7vw; letter-spacing:0.1vw;
                a {color:white;}
            }
            .infoImg {margin-right:0.7vw; width: 0.8vw; height: 0.7vw;}
            .phoneFoot1 {width: 1.7vw; height:1.6vw; margin-left:1vw;}
            .phoneFoot2 {width:1.3vw; height:1.3vw; margin-left:1vw;}
            .news {width:19vw;}
        }
        input {
            display:flex;
            align-items:center;
            font-size:0.7vw;
            font-family:"Circe";
            letter-spacing:0.1vw;
            text-transform:uppercase;
            width:19vw;
            background:#302a31;
            border:none;
            border-bottom:0.2vw #c1a067 solid;
            padding:1.2vw 0;

        }
        input::placeholder {color:#eceaed; opacity:1;};
        .subscribe {
            margin-top:1.2vw;
            margin-left:12.2vw;

            a {
                color:#d6d5d6;
                text-decoration:none;
                font-size:0.7vw;
                letter-spacing:0.15vw;
                font-family:"Circe";
                font-weight:700;
                text-transform:uppercase;
                &:hover {color:#c1a067;}
            }

        }
        .join {
            margin-top:4vw;
            display:flex;
            flex-direction:row;
            width:20vw;
            margin-right:14vw;

            a {
                display:flex;
                flex-direction:row;
                align-items:center;
                text-transform:uppercase;
                font-family:"Circe";
                font-size:0.8vw;
                letter-spacing:0.1vw;
                font-weight:600;
                color:#d6d5d6;
                text-decoration:none;
                &:hover {color:#c1a067;}

                .instD {
                    width: 3.6vw;
                    height: 3.6vw;
                    background:white;
                    border-radius:2vw;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    margin-right:1.5vw;

                    .inst {
                        width:1.9vw;
                        height:1.9vw;
                    }
                }
            }
        }
    }
    hr {
        background-color:#39343b;
        width:87vw;
        border:none;
        height:0.1vw;
        margin:2vw auto;
    }
    .end {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        color:#d6d5d6;
        font-size:1vw;
        div {
            margin: 0 5vw 3vw 5.3vw;
            width: 19vw;
        }
        .idea {
            width: 1vw;
            margin-right: 1vw;
            height: 1.3vw;
        }
    }
</style>