<template>
    <div id="header">
        <div class="head1">
            <div class="menu1">
                <a href="">О магазине</a>
                <a href="">Оплата</a>
                <a href="">Доставка</a>
                <a href="">Отзывы</a>
                <a href="">Новости</a>
                <a href="">Статьи</a>
                <a href="">Контакты</a>
            </div>
            <div class="login">
                <a href="">Личный кабинет</a>
            </div>
            <div class="favorite">
                <a href="">Избранное</a>
                <div class="num">2</div>
            </div>
        </div>
        <div class="head2">
            <div class="b1">
                <img class="logo" src="/img/logo.png" alt="">
            </div>
            <div class="b2">
                <div class="find"><input id="input" type="text" placeholder="Поиск по каталогу товаров"></div>
                <div class="menu2">
                    <div><a href="">+7 /495/ 542-05-95</a></div>
                    <a href=""><div><img class="img" src="/img/phoneHead.png" alt="">ОБРАТНЫЙ ЗВОНОК</div></a>
                    <a href=""><div><img class="img" src="/img/mail.png" alt="">INFO@LENOMA.RU</div></a>
                    <a href=""><div><img class="img" src="/img/clock.png" alt="">ПН - ПТ 9.00 - 21.00</div></a>
                </div>
            </div>
            <div class="b3">
                <a href=""><img class="rubbish" src="/img/rubbish.png" alt=""><div>4</div></a>
            </div>
        </div>
        <div class="mainmenu">
            <div><a href="">Акция</a></div>
            <div><a href="">Парфюмерия</a></div>
            <div><a href="">Новинки</a></div>
            <div><a href="">Макияж</a></div>
            <div><a href="">Уход за кожей</a></div>
            <div><a href="">Уход за волосами</a></div>
            <div><a href="">Для мужчин</a>
                <div class="submenu">
                    <a href="">Мужские ароматы</a>
                    <a href="">Дезодоранты</a>
                    <a href="">Гели для душа</a>
                    <a href="">Шампуни и кондиционеры</a>
                </div>
            </div>
            <div><a href="">Organic</a></div>
            <div><a href="">Подарки</a></div>
            <div><a href="">Sale</a></div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "header"
    }
</script>

<style scoped lang="scss">
    * {margin:0; padding:0;}

    #header {
        display:flex;
        flex-direction:column;
        overflow-x: hidden;
        a{
            text-decoration:none;
            color:#302a31
        }
        a:hover {color:#c1a067}

        .head1 {
            display:flex;
            flex-direction:row;
            align-items:center;

            width:100vw;
            font-size:0.9vw;
            font-family:"CirceExtra";
            font-weight:500;
            border:1px #eceaed solid;
            height:3vw;

            .menu1 a{
                &:first-child {margin-left:5vw;}
                margin-right:3.6vw;
            }

            .login {
                display:flex;
                align-items:center;
                margin-left: 17.5vw;
                padding: 0 3.2vw;
                height:100%;
                outline:1px #eceaed solid;
            }
            .favorite {
                display:flex;
                flex-direction:row;

               margin-left:3.2vw;
                position:relative;

                .num {
                    display:flex;
                    justify-content:center;
                    align-items:center;

                    font-size:0.7vw;
                    background-color:#c1a067;
                    color:white;
                    border-radius:10000px;
                    border:1px #c1a067 solid;
                    width: 1vw;
                    height: 1vw;
                    position:absolute;
                    left: 102%;
                    bottom: 42%;
                }
            }
        }
        .head2 {
            display:flex;
            flex-direction:row;

            width:100vw;
            margin-top: 1vw;
            .b1{
                padding:0 5vw;
                .logo {width:14vw ;height:8vw;}
            }
            .b2{
                display:flex;
                flex-direction:column;


                width:58vw;
                height:8vw;
                margin-right:2vw;
                .find {
                    border-bottom:0.2vw #c1a067 solid;
                    padding: 0.5vw 0 1vw 0;
                    width:58vw;
                    height:3.4vw;



                    input {
                        display:flex;
                        align-items:center;
                        color:#7d797e;
                        width:100%;
                        height: 100%;
                        font-size:0.8vw;
                        font-family:"CirceExtra";
                        letter-spacing:0.2vw;
                        text-transform:uppercase;
                        border:none;
                        background:url('/img/loop.png') no-repeat center right;
                        background-size:1.7%;
                    }
                    input::placeholder {color:#7d797e;opacity:1;}

                }

                .menu2 {
                    display:flex;
                    flex-direction:row;
                    justify-content:space-between;
                    height:4.6vw;

                    font-size:0.8vw;
                    font-family:"CirceExtra";
                    letter-spacing:0.1vw;
                    padding:2vw 0;
                    margin-bottom:0.2vw;

                    a {
                        font-family:"CirceExtra";
                    }
                    a div {
                        font-family:"CirceExtra";

                        .img {
                            margin-right:1vw;
                            margin-left:4vw;
                            width:0.8vw;
                            height:0.8vw;}
                    }
                }
            }
            .b3 {
                display:flex;

                align-items:center;
                width:6vw;
                height:auto;
                margin-left: 3.4vw;
                //margin-top: -1.1vw;
                position:relative;

                a {
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    background-color:#c1a067;
                    width:6vw;
                    height:6vw;

                    .rubbish {
                        width:3vw;
                    margin-bottom:0.1vw;}

                    div {
                        position:absolute;
                        right: 0.5vw;
                        top: 2.2vw;
                        font-size:0.8vw;
                        color:white;
                        z-index:1;
                    }
                }
            }
        }
        .mainmenu {
            display:flex;
            flex-direction:row;
            justify-content:space-between;
            align-items:center;
            height:4vw;
            background:#302a31;
            margin-top:.8vw;

            div  {
                display:flex;
                align-items:center;
                justify-content:center;

                height:100%;
                font-size:1.1vw;


                &:first-child {margin-left: 3.8vw;}
                &:last-child {

                    padding-right: 4.5vw;
                    padding-left: 3.7vw;
                    background:#c16774;
                    border:1px #c16774 solid;
                    text-transform:uppercase;
                    a {
                        &:hover{color:white;}
                    }
                }
                a{
                    color:white;
                    &:hover{color:#c1a067;}

                }
                .submenu {
                    display:flex;
                    flex-direction:column;
                    justify-content:flex-start;
                    align-items:flex-start;

                    padding: 1vw 1.3vw;
                    text-transform:none;
                    line-height:2.3vw;
                    position:absolute;
                    background:white;
                    border:none;
                    border-top:0.3vw #c1a067 solid;
                    width: 17vw;
                    height: 11.7vw;
                    top: 16.6vw;
                    right: 21.6vw;
                    box-shadow: 0 0 0.7vw lightgrey;
                    z-index:-2;
                    opacity:0;

                    a{
                        font-size: 1.1vw;
                        color:black;
                        &:hover {color:#c1a067;}

                    }

                }
                &:hover {
                    .submenu {
                        opacity:1;
                        z-index:2;
                    }
                }

            }
        }
    }
</style>