<template>
    <div>
        <Header></Header>
        <Content></Content>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from "./section/header.vue"
    import Content from "./section/content.vue"
    import Footer from "./section/footer.vue"
    export default {
        name: "landing",
        components: {
            Header,
            Content,
            Footer
        }
    }
</script>

<style lang="scss">
    div {font-family:"CirceRegular";}
</style>