@font-face {
  font-family:"Circe";
  src: url("./fonts/Circe.otf");
}
@font-face {
  font-family:"Circe Bold";
  src: url("./fonts/Circe Bold.otf");
}
@font-face {
  font-family:"CirceRegular";
  src: url("./fonts/CirceRegular.ttf");
}
@font-face {
  font-family:"CirceExtra";
  src: url("./fonts/CirceExtra.otf");
}
@font-face {
  font-family:"Burberry";
  src: url("./fonts/Burberry.otf");
}
@font-face {
  font-family:"BVLGARY";
  src: url("./fonts/BVLGARY.TTF");
}
@font-face {
  font-family:"Calvin";
  src: url("./fonts/Calvin.ttf");
}
@font-face {
  font-family:"Yves";
  src: url("./fonts/Yves.ttf");
}
@font-face {
  font-family:"Christian";
  src: url("./fonts/Christian.ttf");
}
